{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form method="POST" action="/change_password">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="old" placeholder="Current password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="new" placeholder="New password" type="password">
        </div>
        {% if first == True %}
            <p class="text-info" style="font-size:15px;;">Please inclue atleast 8 characters, uppercase, lowercase, number and a symbol</p>
        {% endif %}
        {% if pass_check["length_error"] == True %}
            <p class="text-danger">&#10007; Password must be atleast 8 characters</p>
        {% endif %}
        {% if pass_check["digit_error"] == True %}
            <p class="text-danger">&#10007; Password must include a numerical digit</p>
        {% endif %}
        {% if pass_check["uppercase_error"] == True %}
            <p class="text-danger">&#10007; Password must include an uppercase character</p>
        {% endif %}
        {% if pass_check["lowercase_error"] == True %}
            <p class="text-danger">&#10007; Password must include a lowercase character</p>
        {% endif %}
        {% if pass_check["symbol_error"] == True %}
            <p class="text-danger">&#10007; Password must include a symbol</p>
        {% endif %}
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="confirm" placeholder="Confrim new password" type="password">
        </div>
        <button class="bg-orange" type="submit">Change password</button>
    </form>
{% endblock %}
