{% extends "layout.html" %}

{% block title %}
    Edit Profile
{% endblock %}

{% block main %}
    <div>
        <h1 class="text-white">Edit Profile</h1>
    </div>
    <form action="/edit_profile" method="POST">
        <div class="mb-3">
            <label class="text-white" style="margin-right:350px;">Bio:</label>
            <textarea cols="35" rows="8" placholder="Add a bio" class="form-control mx-auto w-auto text-black" name="bio">{% if profile['bio'] %}{{  profile['bio']  }}{% endif %}</textarea>
        </div>
        <div class="mb-3">
            <label class="text-white" style="margin-right:150px;">Favorite Food:</label>
            <input placeholder="What's your favorite food?" class="form-control mx-auto w-auto" type="text" name="favorite_food"
            {% if profile['favorite_food'] %}
            value="{{ profile['favorite_food'] }}"
            {% endif %}>
        </div>
        <div class="mb-3">
            <label class="text-white" style="margin-right:190px;">Country:</label>
            <input placeholder="What country are you from?" class="form-control mx-auto w-auto" type="text" name="country"
            {% if profile['country'] %} 
            value="{{ profile['country'] }}"
            {% endif %}> 
        </div>
        <div class="mb-3">
            <button class="bg-orange" type="submit">Save Changes</button>
        </div>
    </form>
{% endblock %}
